.container {
  background-color: rgb(154, 44, 58);
  width: 400px;
  height: 600px;
  border-radius: 20px;

  .logo {
    padding: 20px;
    width: 40px;
    height: auto;
  }

  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .display {
      background-color: rgb(50, 51, 53);
      color: white;
      border-radius: 20px;
    }

    .buttons {
      display: flex;
      flex-direction: row-reverse;

      .operators {
        background-color: rgb(59, 112, 143);
        color: white;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
      }

      .section {
        display: flex;
        flex-direction: column;

        .specials {
          background-color: rgb(50, 91, 152);
          color: white;
          border-radius: 50px;
        }

        .numbers {
          background-color: rgb(36, 66, 116);
          color: white;
          border-radius: 50px;
        }
      }
    }
  }
}
